.heroSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.switcher {
  display: flex;
  padding: 2px 2px 2px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 360px;
  background: #dde1ff;
}

.switchweCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5b4cff;
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.aboutContentWrapper,
.aboutImgtWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.aboutContentWrapper {
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
